{% extends 'angular.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="row">
	<div class="small-centered columns login-box">
		<form method="post" id="login-form" ng-controller="LoginCtrl" ng-submit="submit();">
			<fieldset>
				<legend>Log In</legend>
				{% raw %}
				<p class="error" ng-hide="message==''">{{message}}</p>
				{% endraw %}
				<input type="text" name="email" ng-model="user.email" placeholder="E-Mail"/>
				<input type="password" name="password" ng-model="user.password" placeholder="Password"/>
				<input type="submit" value="Login" class="button"/>
			</fieldset>			
		</form>
	</div>
</div>

<div class="row">
	<div class="small-centered columns login-box">
		<form method="post" id="create-account" ng-controller="RegisterCtrl" ng-submit="submit();" >
			<fieldset>
				<legend>Create an Account</legend>
				{% raw %}
				<p class="error" ng-hide="message==''">{{message}}</p>
				{% endraw %}								
				<input type="text" name="email" ng-model="user.email" placeholder="E-Mail"/>	
				<input type="password" name="password" ng-model="user.password" placeholder="Password"/>		
				<input type="submit" value="Create Account" class="button"/>
			</fieldset>
		</form>
	</div>
</div>
{% endblock %}