.opp-rounded-left(@radius) {
  border-bottom-right-radius: @radius;
   border-top-left-radius: @radius;
}
.opp-rounded-right(@radius) {
  border-top-right-radius: @radius;
  border-bottom-left-radius: @radius;
}
.full-rounded(@radius) {
  border-top-right-radius: @radius;
  border-top-left-radius: @radius;
  border-bottom-right-radius: @radius;
  border-bottom-left-radius: @radius;   
}
.top-rounded(@radius) {
  border-top-right-radius: @radius;
  border-top-left-radius: @radius;  
}
@higreen: #83C97E;
@hiblue: #7b8caa;
@error: #dd2234;

@lightblue: #ddddff;
@lightgray:#ccc;

body{
	padding:0;
	margin:30px 0 0 0;
	font-size:16px;
	line-height:19px;
	font-family: 'Raleway', sans-serif;
	color:#222;	
	&.wide{
		background:@hiblue;
	}
}
h1,h2,h3,h4{
	font-family: 'Josefin Sans', sans-serif;
	margin: 0.25em 0 0.5em;
	padding:0;
	font-weight:700;
	color:#222;
	text-align: center;
}
h2{
	border-color: @hiblue;
	border-bottom-style: solid;
	border-bottom-width:2px;
	padding-bottom:5px;
}
h1{
	border-color: @hiblue;
	border-bottom-style: solid;
	border-bottom-width:4px;
	padding-bottom:5px;
} 
.login-box, .newpost{
	max-width:500px;
	padding:0;
	fieldset{
		.full-rounded(5px);
		border:1px solid @lightgray;
		background:@lightblue;
		padding:10px;
		legend{
			border:1px solid @lightgray;
			padding:5px;
			.top-rounded(3px);
		}
	}
}
.error {
	background: @error;
	color:white;
	padding:10px;
	.full-rounded(10px);
	text-align:center;
}
.posts, .single-post{
	padding:10px 0;
	max-width:500px;	
	.post{
		.full-rounded(5px);
		margin:5px 0;
		border:1px solid @lightgray;
		background-color:@lightblue;
		padding:5px;
		.title{
			font-weight:bold;
			display:block;
		}
		.body{
			display:block;
		}
		.posttime{
			display:block;
		}
	}
}